# Data Quality Analysis

### Import Necessary Classes

In [1]:
import pandas as pd
import numpy as np
import os
import json
import datetime

### Read json data

In [2]:
directory = r'C:\Users\govin\Documents\Anaconda\Data'
def read_file(filename):
    file=open(os.path.join(directory,filename))
    data=[json.loads(l) for l in file]
    dataframe=pd.json_normalize(data)
    return dataframe

In [3]:
brand=read_file('brands.json')

In [4]:
users=read_file('users.json')
receipts=read_file('receipts.json')

In [5]:
users.head()

,active,role,signUpSource,state,_id.$oid,createdDate.$date,lastLogin.$date
0,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
2,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
3,True,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,1609687530554,1.609688e+12
4,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12

In [6]:
users=users.rename(columns={'_id.$oid':'user_id','createdDate.$date':'createdDate','lastLogin.$date':'lastLogin'})

### Converting to date time

In [7]:
users['createdDate'] = users['createdDate'].apply(lambda x: datetime.datetime.fromtimestamp(int(x)/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [8]:
users['lastLogin']= users['lastLogin'].fillna(0)

In [9]:
users['lastLogin'] = users['lastLogin'].apply(lambda x: datetime.datetime.fromtimestamp(float(x)/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [10]:
users['createdDate']=pd.to_datetime(users['createdDate'])
users['lastLogin']=pd.to_datetime(users['lastLogin'])

In [11]:
brand.head()

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,NaN
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827

In [12]:
brand.dtypes

barcode         object
category        object
categoryCode    object
name            object
topBrand        object
_id.$oid        object
cpg.$id.$oid    object
cpg.$ref        object
brandCode       object
dtype: object

In [13]:
brand['barcode']=brand['barcode'].astype('int64')

In [14]:
brand=brand.rename(columns={'_id.$oid':'brand_id','cpg.$id.$oid':'cpg_id','cpg.$ref':'cpg_ref'})

In [15]:
receipts.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12

In [16]:
receipts=receipts.rename(columns= {'_id.$oid' : 'receipt_id','createDate.$date' : 'createDate','dateScanned.$date' : 'scannedDate',
        'finishedDate.$date' : 'finishedDate','modifyDate.$date' : 'modifyDate','pointsAwardedDate.$date' : 'pointsAwardedDate',
        'purchaseDate.$date' : 'purchaseDate'})

In [17]:
receipts.dtypes

bonusPointsEarned          float64
bonusPointsEarnedReason     object
pointsEarned                object
purchasedItemCount         float64
rewardsReceiptItemList      object
rewardsReceiptStatus        object
totalSpent                  object
userId                      object
receipt_id                  object
createDate                   int64
scannedDate                  int64
finishedDate               float64
modifyDate                   int64
pointsAwardedDate          float64
purchaseDate               float64
dtype: object

In [18]:
receipts['createDate'] = receipts['createDate'].apply(lambda x: datetime.datetime.fromtimestamp(int(x)/1000).strftime('%Y-%m-%d %H:%M:%S'))
receipts['scannedDate'] = receipts['scannedDate'].apply(lambda x: datetime.datetime.fromtimestamp(int(x)/1000).strftime('%Y-%m-%d %H:%M:%S'))
receipts['modifyDate'] = receipts['modifyDate'].apply(lambda x: datetime.datetime.fromtimestamp(int(x)/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [19]:
receipts['finishedDate'] = receipts['finishedDate'].fillna(0)
receipts['pointsAwardedDate'] = receipts['pointsAwardedDate'].fillna(0)
receipts['purchaseDate'] = receipts['purchaseDate'].fillna(0)

In [20]:
receipts['finishedDate'] = receipts['finishedDate'].apply(lambda x: datetime.datetime.fromtimestamp(float(x)/1000).strftime('%Y-%m-%d %H:%M:%S'))
receipts['pointsAwardedDate'] = receipts['pointsAwardedDate'].apply(lambda x: datetime.datetime.fromtimestamp(float(x)/1000).strftime('%Y-%m-%d %H:%M:%S'))
receipts['purchaseDate'] = receipts['purchaseDate'].apply(lambda x: datetime.datetime.fromtimestamp(float(x)/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [21]:
receipts['createDate']=pd.to_datetime(receipts['createDate'])
receipts['scannedDate']=pd.to_datetime(receipts['scannedDate'])
receipts['modifyDate']=pd.to_datetime(receipts['modifyDate'])
receipts['finishedDate']=pd.to_datetime(receipts['finishedDate'])
receipts['pointsAwardedDate']=pd.to_datetime(receipts['pointsAwardedDate'])
receipts['purchaseDate']=pd.to_datetime(receipts['purchaseDate'])

### rewardsReceiptItemList into different DataFrame

In [22]:
receipts.rewardsReceiptItemList[1]

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '1',
  'quantityPurchased': 1},
 {'barcode': '028400642255',
  'description': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
  'finalPrice': '10.00',
  'itemPrice': '10.00',
  'needsFetchReview': True,
  'needsFetchReviewReason': 'USER_FLAGGED',
  'partnerItemId': '2',
  'pointsNotAwardedReason': 'Action not allowed for user and CPG',
  'pointsPayerId': '5332f5fbe4b03c9a25efd0ba',
  'preventTargetGapPoints': True,
  'quantityPurchased': 1,
  'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE',
  'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba',
  'userFlaggedBarcode': '028400642255',
  'userFlaggedDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
  'userFlaggedNewItem': True,
  'userFlaggedPrice': '10.00',
  'userFlaggedQuantity': 1}]

In [23]:
rewardsReceiptItemList=pd.DataFrame()

In [24]:
receipts['rewardsReceiptItemList']= receipts['rewardsReceiptItemList'].replace(np.nan,0)

In [25]:
data=[]
for i in range(len(receipts.rewardsReceiptItemList)):
    if receipts.rewardsReceiptItemList[i] != 0:
        for items in receipts.rewardsReceiptItemList[i]:
            items['receipt_id']=receipts.receipt_id[i]
            data.append(items)
            
rewardsReceiptItemList=pd.DataFrame.from_dict(data)

In [26]:
rewardsReceiptItemList

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6936,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
6937,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
6938,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
6939,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
6940,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN

In [27]:
rewardsReceiptItemList.dtypes

barcode                                object
description                            object
finalPrice                             object
itemPrice                              object
needsFetchReview                       object
partnerItemId                          object
preventTargetGapPoints                 object
quantityPurchased                     float64
userFlaggedBarcode                     object
userFlaggedNewItem                     object
userFlaggedPrice                       object
userFlaggedQuantity                   float64
receipt_id                             object
needsFetchReviewReason                 object
pointsNotAwardedReason                 object
pointsPayerId                          object
rewardsGroup                           object
rewardsProductPartnerId                object
userFlaggedDescription                 object
originalMetaBriteBarcode               object
originalMetaBriteDescription           object
brandCode                              object
competitorRewardsGroup                 object
discountedItemPrice                    object
originalReceiptItemText                object
itemNumber                             object
originalMetaBriteQuantityPurchased    float64
pointsEarned                           object
targetPrice                            object
competitiveProduct                     object
originalFinalPrice                     object
originalMetaBriteItemPrice             object
deleted                                object
priceAfterCoupon                       object
metabriteCampaignId                    object
dtype: object

In [28]:
rewardsReceiptItemList['pointsPayerId']

0                            NaN
1                            NaN
2       5332f5fbe4b03c9a25efd0ba
3                            NaN
4                            NaN
                  ...
6936                         NaN
6937                         NaN
6938                         NaN
6939                         NaN
6940                         NaN
Name: pointsPayerId, Length: 6941, dtype: object

In [29]:
users.isnull().sum()

active           0
role             0
signUpSource    48
state           56
user_id          0
createdDate      0
lastLogin        0
dtype: int64

In [30]:
len(users)

495

In [31]:
users[users['user_id'].duplicated() == True].count()

active          283
role            283
signUpSource    240
state           233
user_id         283
createdDate     283
lastLogin       283
dtype: int64

In [32]:
users['user_id'].nunique()     #only 212 unique users out of 495 listed users

212

In [33]:
receipts.isnull().sum()            # too many null values in important columns

bonusPointsEarned          575
bonusPointsEarnedReason    575
pointsEarned               510
purchasedItemCount         484
rewardsReceiptItemList       0
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
receipt_id                   0
createDate                   0
scannedDate                  0
finishedDate                 0
modifyDate                   0
pointsAwardedDate            0
purchaseDate                 0
dtype: int64

In [34]:
brand.isnull().sum()

barcode           0
category        155
categoryCode    650
name              0
topBrand        612
brand_id          0
cpg_id            0
cpg_ref           0
brandCode       234
dtype: int64

In [35]:
rewardsReceiptItemList.isnull().sum()

barcode                               3851
description                            381
finalPrice                             174
itemPrice                              174
needsFetchReview                      6128
partnerItemId                            0
preventTargetGapPoints                6583
quantityPurchased                      174
userFlaggedBarcode                    6604
userFlaggedNewItem                    6618
userFlaggedPrice                      6642
userFlaggedQuantity                   6642
receipt_id                               0
needsFetchReviewReason                6722
pointsNotAwardedReason                6601
pointsPayerId                         5674
rewardsGroup                          5210
rewardsProductPartnerId               4672
userFlaggedDescription                6736
originalMetaBriteBarcode              6870
originalMetaBriteDescription          6931
brandCode                             4341
competitorRewardsGroup                6666
discountedItemPrice                   1172
originalReceiptItemText               1181
itemNumber                            6788
originalMetaBriteQuantityPurchased    6926
pointsEarned                          6014
targetPrice                           6563
competitiveProduct                    6296
originalFinalPrice                    6932
originalMetaBriteItemPrice            6932
deleted                               6932
priceAfterCoupon                      5985
metabriteCampaignId                   6078
dtype: int64

In [36]:
# Purachsed count and total spent is 0 but Points are earned
money= receipts[(receipts['totalSpent']=='0.00') & (receipts['rewardsReceiptStatus']=='FINISHED')]
money

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,receipt_id,createDate,scannedDate,finishedDate,modifyDate,pointsAwardedDate,purchaseDate
396,250.0,"Receipt number 3 completed, bonus point schedu...",250.0,0.0,0,FINISHED,0.00,6009e60450b3311194385009,6009eb000a7214ada2000003,2021-01-21 14:58:40,2021-01-21 14:58:40,2021-01-21 14:59:06,2021-01-21 14:59:15,2021-01-21 14:59:06,2021-01-20 18:00:00
424,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,0.0,0,FINISHED,0.00,600afb2a7d983a124e9aded0,600aff160a720f053500000c,2021-01-22 10:36:38,2021-01-22 10:36:38,2021-01-22 10:37:01,2021-01-22 10:37:13,2021-01-22 10:37:01,2021-01-21 18:00:00

In [37]:
# User id of all customer should be there in users table (or data is incosistent among the three files)
unique_users=users['user_id'].unique()
receipt_customer=receipts['userId'].unique()
cnt=0
for user in receipt_customer:
    if user not in unique_users:
        cnt+=1
print("Count of customers whose user id is not available in users table=",cnt)

Count of customers whose user id is not available in users table= 117

## Data Quality Issues

In [38]:
# Quite a lot of null values are there in columns of Brands table and Receipt Table
# User Id should be unique and not duplicated (wasting memory)
# Misleading Table name i.e. User table doesn't have detail about any user
# points are earned without buying any product
# The users in receipt table are not there in users table.